@use '../core/variables' as *;
@use '../core/mixins' as *;
@use '../core/animations' as *;

.o-btn {
  &--outline {
    padding: $sm;
    color: var(--txt-color);
    border: 1px solid $purpleGray;
    border-radius: $radius--xs;
    background-color: transparent;
    display: flex;
    align-items: center;
    @include transition();

    &:hover {
      cursor: pointer;
      background-color: $purpleGrayVeryLight;
      border-color: scale-color($purpleGray, $lightness: -20%);
    }

    &:focus {
      outline: unset;
      box-shadow: 0 0 2px 2px rgba($blue, 0.5);
    }

    .o-ico {
      fill: var(--txt-color);
      //width: 16px;
      //height: 16px;
    }
  }


  &--primary {
    $color: #78b5e6;
    padding: 12px $md;
    color: var(--txt-color);
    border: 1px solid darken($color, 10%);
    border-radius: $radius--sm;
    background-color: $color;
    @include transition();

    &:hover {
      background-color: lighten($color, 10%);
    }
  }

  &--success {
    padding: 12px $md;
    color: var(--txt-color);
    border: 1px solid $greenDark;
    border-radius: $radius--sm;
    background-color: $greenDark;
    @include transition();

    &:disabled {
      color: #000;
      border-color: $txtColorGray;
      background-color: $txtColorGray05;
    }
  }
}
