@use '../core/variables' as *;
@use '../core/mixins' as *;
@use '../core/animations' as *;

.o-btn-primary {
  &--outline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $sm;
    cursor: pointer;
    color: var(--btn-primary-txt);
    border: 1px solid var(--btn-primary);
    border-radius: $radius--xs;
    background-color: transparent;
    @include transition();

    .o-ico {
      @include transition(fill);
      fill: var(--btn-primary-txt);
    }

    &:hover {
      color: var(--btn-primary-hover-txt);
      border-color: transparent;
      background-color: var(--btn-primary-hover);

      .o-ico {
        fill: var(--btn-primary-hover-txt);
      }
    }

    &:focus {
      outline: unset;
      box-shadow: 0 0 0 3px var(--btn-primary-focus);
    }
  }
}

.o-btn-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $sm;
  cursor: pointer;
  color: var(--btn-confirm-txt);
  border: 1px solid var(--btn-confirm-border);
  border-radius: $radius--xs;
  background-color: var(--btn-confirm);
  @include transition();

  .o-ico {
    @include transition(fill);
    fill: var(--btn-confirm-txt);
  }

  &:hover {
    background-color: var(--btn-confirm-hover);;
  }

  &:focus {
    outline: unset;
    box-shadow: 0 0 0 3px var(--btn-confirm-focus);
  }
}
