@use '../core/variables' as *;
@use '../core/animations' as *;

.o-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $fontSize;
  height: $fontSize;
}

.o-ico-rotate {
  animation: {
    name: rotate;
    duration: 800ms;
    timing-function: linear;
    iteration-count: infinite;
  }
}




