@use '../core/variables' as *;
@use '../core/mixins' as *;

.o-input {
  &:hover {
    border-color: $blue;
  }

  &.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }

  .mat-form-field-outline,
  .mat-datepicker-toggle-default-icon,
  .mat-icon,
  .mat-date-range-input-separator,
  .mat-form-field-label {
    color: var(--input-label);
  }

  &.mat-focused .mat-form-field-label,
  &.mat-focused .mat-form-field-outline {
    color: var(--input-label-focused);
  }
}
