@use '../core/variables' as *;
@use '../core/mixins' as *;
@use '../core/animations' as *;

.o-field {
  &__label {
    display: flex;
    align-items: center;
  }

  &__input {
    box-sizing: border-box;
    height: 42px;
    padding: $sm;
    cursor: pointer;
    color: var(--txt-color);
    border: 1px solid var(--filed-input-border);
    border-radius: $radius--xs;
    background-color: var(--field-input-bgr);
    @include transition();

    &:hover {
      border-color: var(--field-input-focus-border);
    }

    &:focus {
      border-color: var(--field-input-focus-border);
      outline: unset;
      box-shadow: 0 0 0 3px var(--btn-primary-focus);
    }

    &::-webkit-calendar-picker-indicator {
      filter: invert(0.6);
    }
  }
}
