@use '../core/variables' as *;
@use '../core/mixins' as *;

.o-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: $t2;
  flex-shrink: 0;
  @include breakpoint-up(lg) {
    font-size: $t3;
  }
}

.o-subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
