<div class="field" [class.is-invalid]="isInvalid()" [attr.aria-invalid]="isInvalid() ? 'true' : null" [attr.aria-describedby]="feedbackId ? feedbackId : null">
  <ng-content select="label"></ng-content>
  <ng-content select="input"></ng-content>
  <ng-content select="textarea"></ng-content>

  <p class="field__error" *ngIf="(form?.hasError('minlength') || form?.hasError('required')) && form?.touched" [id]="feedbackId ? feedbackId : null">
    <svg-ico name="exclamation" aria-hidden="true"></svg-ico>
    <span class="u-ml-xs" *ngIf="form?.hasError('required')">The field is required</span>
    <span class="u-ml-xs" *ngIf="form?.hasError('minlength')">It required at least {{form?.errors.minlength.requiredLength}} characters</span>
  </p>
</div>



