<app-modal [isOpen]="isOpenLoginModal|async" (closeEvent)="closeLoginModal()"
           role="dialog"
           id="loginModal"
           aria-labelledby="loginModalTitle"
           aria-modal="true">

  <section class="login">
    <h2 class="login__title" id="loginModalTitle">Login</h2>

    <form class="l-form" id="loginForm" [formGroup]="form" (ngSubmit)="handleSubmit()">
      <app-form-field [form]="form.get('pointId')" feedbackId="pointIdFeedback">
        <label class="field__label" for="formId">Collection point id</label>
        <input class="field__input" id="formId" type="text" formControlName="pointId" autocomplete="id">
      </app-form-field>

      <app-form-field [form]="form.get('username')" feedbackId="usernameFeedback">
        <label class="field__label" for="formUsername">Username</label>
        <input class="field__input" id="formUsername" type="text" formControlName="username" autocomplete="username" placeholder="Use 'test' to get mock data">
      </app-form-field>

      <app-form-field [form]="form.get('password')" feedbackId="passwordFeedback">
        <label class="field__label" for="formPassword">Password</label>
        <input class="field__input" id="formPassword" type="password" formControlName="password" autocomplete="current-password" placeholder="Use any to get mock data">
      </app-form-field>

      <div class="login__buttons">
        <div class="h-spacer"></div>
        <button class="o-btn-success login__submit" type="submit" [disabled]="!form.valid || isLogging">
          <svg-ico class="o-ico-rotate" *ngIf="isLogging" name="spinner"></svg-ico>
          <span class="submit__title" [class.u-ml-sm]="isLogging">Login</span>
        </button>
      </div>
    </form>

  </section>
</app-modal>
