<section class="card" [class.is-loading]="!isLoaded" [ngClass]="{
'is-loading': !isLoaded,
'has-error': isError
}" >
  <h2 class="card__title">{{cardData.title}}</h2>

  <div class="card__total">
    <span class="total__value">{{cardData.total.value }} kWh</span>
    <div class="total__trend" [class.is-negative]="cardData.total.trend < 0" *ngIf="cardData.total.trend">
      <svg-ico name="arrow-up"></svg-ico>
      <span>{{cardData.total.trend}} %</span>
    </div>
  </div>

  <div class="card__zone u-mb-sm">
    <svg-ico name="{{ cardData.detail1.ico }}"></svg-ico>
    <span class="zone__value">{{cardData.detail1.value || 0}} kWH</span>
    <span class="zone__trend" [class.is-negative]="cardData.detail1.trend < 0" *ngIf="cardData.detail1.trend">
      <svg-ico name="arrow-up"></svg-ico>
      <span>{{cardData.detail1.trend}} %</span>
    </span>
  </div>

  <div class="card__zone">
    <svg-ico name="{{ cardData.detail2.ico }}"></svg-ico>
    <span class="zone__value">{{cardData.detail2.value || 0}} kWH</span>
    <span class="zone__trend" [class.is-negative]="cardData.detail2.trend < 0" *ngIf="cardData.detail2.trend">
      <svg-ico name="arrow-up"></svg-ico>
      <span>{{cardData.detail2.trend}} %</span>
    </span>
  </div>

  <div class="card__graph">
    <div class="bar--1" style="{{barsStyle[0]}}" title="{{cardData.detail1.title + ': ' + cardData.detail1.value}}" appTippy></div>
    <div class="bar--2" style="{{barsStyle[1]}}" title="{{cardData.detail2.title + ': ' + cardData.detail2.value}}" appTippy></div>
  </div>

  <app-loading-spinner class="card__loading" size="sm" *ngIf="!isLoaded"></app-loading-spinner>

</section>
