// FONT
$fontSize: 1rem;           // 16px

$t3: $fontSize + 0.5rem;  // 24px
$t2: $fontSize + 0.25rem;  // 18px
$t1: $fontSize + 0.125rem;  // 18px
$s1: $fontSize - 0.125rem; // 14px

$primaryFont: 'Titillium Web', sans-serif;


// MEASUREMENTS
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 64px;


// SIZING
$headerHeight: 64px;
$sideNavWidth: 260px;
$sideNavWidthCollapsed: $headerHeight;


// PATHS
$imagePath: '/assets/images/';
$fontPath: '/assets/fonts/';


// SHADOWS
$shadow--l1: 0px 2px 6px rgba(0, 0, 0, 0.04);
$shadow--l2: 0px 2px 3px rgba(0, 0, 0, 0.05);


// BORDER RADIUS
$radius--xs: $xs;
$radius--sm: $sm;
$radius--md: 12px;


// BREAKPOINTS
$breakpoints: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 420px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$breakpoints-down: (
  mobile-m: map-get($breakpoints, mobile-l) - 0.02px,
  mobile-l: map-get($breakpoints, sm) - 0.02px,
  sm: map-get($breakpoints, md) - 0.02px,
  md: map-get($breakpoints, lg) - 0.02px,
  lg: map-get($breakpoints, xl) - 0.02px,
  xl: map-get($breakpoints, xxl) - 0.02px
);
