@use '../../scss/core/variables' as *;
@use '../../scss/core/animations' as *;

.login {
  padding: $xl;

  &__title {
    font-family: $secondaryFont, 'Helvetica', serif;
    text-align: center;
    padding-bottom: $md;
    margin-bottom: $lg;
    border-bottom: 1px solid $purpleGrayLight;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $sm;
  }

  &__buttons {
    display: flex;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;

    .submit__title {
      @include transition(margin);
    }
  }
}
