<app-modal [isOpen]="isOpenLoginModal|async" (closeEvent)="closeLoginModal()">
  <section class="login">
    <h2 class="login__title">Login</h2>

    <form class="l-form" id="loginForm" [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div class="o-field l-form__field">
        <label class="o-field__label" for="formId">Collection point id</label>
        <input class="o-field__input" id="formId" type="text" formControlName="id">
      </div>

      <div class="o-field l-form__field">
        <label class="o-field__label" for="formUsername">Username</label>
        <input class="o-field__input" id="formUsername" type="text" formControlName="username" autocomplete="username">
      </div>

      <div class="o-field l-form__field">
        <label class="o-field__label" for="formPassword">Password</label>
        <input class="o-field__input" id="formPassword" type="password" formControlName="password" autocomplete="current-password">
      </div>

      <div class="login__buttons">
        <div class="h-spacer"></div>
        <button class="o-btn-confirm login__submit" type="submit" [disabled]="!form.valid || isLogging">
          <svg-ico class="o-ico-rotate" *ngIf="isLogging" name="spinner"></svg-ico>
          <span class="submit__title" [class.u-ml-sm]="isLogging">Login</span>
        </button>
      </div>
    </form>

  </section>
</app-modal>
