@use '../../scss/core/variables' as *;
@use '../../scss/core/animations' as *;

.login {
  padding: $xl;

  &__title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: $lg;
    padding-bottom: $md;
    text-align: center;
    border-bottom: 1px solid var(--separate-line);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $md;
  }

  &__buttons {
    display: flex;
  }

  &__submit {
    min-width: 200px;

    .submit__title {
      @include transition(margin);
    }
  }
}
