<svg-definition class="h-d-none"></svg-definition>
<header class="l-top-bar">

  <button class="o-btn-menu--black o-btn-menu--align-left" *ngIf="isHandset$ | async" (click)="openMenu()">
    <svg viewBox="0 0 48 48">
      <path class="line--1" d="M0 12h46.61c.9 0 1.74.35 2.37.98L72 36"/>
      <path class="line--2" d="M0 24h72"/>
      <path class="line--3" d="M0 36h46.61c.9 0 1.74-.35 2.37-.98L72 12"/>
    </svg>
  </button>

  <div class="l-top-bar__left" *ngIf="!(isHandset$ | async)">
    <span>Tauron user:</span>
  </div>
  <div class="h-spacer"></div>
  <div class="l-top-bar__right">Login</div>

</header>

<app-sidenav class="l-sidenav" appTitle="{{title}}"></app-sidenav>

<main class="l-content">
  <router-outlet></router-outlet>
</main>
