@use '../scss/core/variables' as *;

:host {
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-gap: 0;
  grid-template-columns: auto 1fr;
  grid-template-rows: $headerHeight 1fr;
  grid-template-areas:
    'sidenav header'
    'sidenav content';
}

.l-top-bar {
  display: flex;
  align-items: center;
  padding: $md;
  background-color: $white;
  box-shadow: $shadow--l1;
  grid-area: header;
}

.l-sidenav {
  grid-area: sidenav;
}

.l-content {
  padding: $xl;
  grid-area: content;
}

