@use '../scss/core/variables' as *;

:host {
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-gap: 0;
  grid-template-columns: auto 1fr;
  grid-template-rows: $headerHeight 1fr;
  grid-template-areas:
    'sidenav header'
    'sidenav content';
}

.l-top-bar {
  display: flex;
  align-items: center;
  padding: $sm $md;
  background-color: $white;
  box-shadow: $shadow--l1;
  grid-area: header;
}

.l-sidenav {
  grid-area: sidenav;
}

.l-content {
  padding: $xl;
  grid-area: content;
}

.top-bar {
  &__title {
    display: flex;
    align-items: center;


    .title__ico {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: $xs;
      margin-bottom: -2px;
      width: 24px;
      fill: $txtColor;

      ::ng-deep .o-ico {
        width: 20px;
        height: 20px;
      }
    }

    .title__txt {
      color: $txtColor;
      font-family: $secondaryFont, 'Helvetica', serif;
      font-size: $t3;
    }
  }
}
