<section class="l-grid">
  <div class="l-grid__header">
    <h2 class="o-title ">Year usage</h2>
    <div class="h-spacer"></div>

    <mat-form-field class="o-input" appearance="outline">
      <mat-label>Selected year</mat-label>
      <input matInput [matDatepicker]="datepicker" [formControl]="selectedDate">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker
                      startView="multi-year"
                      (yearSelected)="changeYear($event, datepicker)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>
  </div>

  <app-card class="l-grid__intake" [cardData]="intakeData"></app-card>
  <app-card class="l-grid__generate" [cardData]="generateData"></app-card>
  <app-card class="l-grid__total" [cardData]="totalData"></app-card>
  <app-graph class="l-grid__graph" [graphData]="graphData"></app-graph>
</section>
