<section class="graph" [class.is-loading]="!isLoaded">
  <h2 class="graph__title">{{graphData.title}}</h2>

  <div class="graph__chart" [class.is-horizontal]="orientation === 'horizontal'">
    <div class="y-label" *ngFor="let item of graphData.yAxis" style="{{ yAxisOrientation(item.position) }}">
      <div class="y-label__value">{{item.value}}</div>
    </div>

    <div class="group" *ngFor="let group of chartData; index as i">
      <div class="group__item" *ngFor="let item of group" style="{{ item.style || ''  }}" title="{{item.title + ': ' + item.value}}" appTippy></div>
      <span class="group__label">{{graphData.xAxis[i]}}</span>
    </div>
  </div>

  <div class="graph__legend">
    <div class="item" *ngFor="let set of graphData.sets">
      <div class="item__mark" style="{{ 'background-color:'+set.colour}}"></div>
      <div class="item__title">{{set.title}}</div>
    </div>
  </div>

  <app-loading-spinner size="sm" class="graph__loading" *ngIf="!isLoaded"></app-loading-spinner>
</section>
