@use 'core/variables' as *;
@use 'core/animations' as *;
// single functionality
// eg. change display / position
.h-d-none {
  display: none;
}

.h-d-center-x {
  display: flex;
  justify-content: center;
}

.h-d-right {
  display: flex;
  justify-content: flex-end;
}

.h-d-center-xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-spacer {
  flex: 1 1 0;
}

.h-page-padding {
  padding: $xl $lg;
}

.h-clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: 0;
  }
}

.h-wr-50 {
  display: inline-block;
  width: 40px;
  text-align: right;
}

.h-sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

