@use 'core/variables' as *;
// do ONE thing
.u-ml-xs {
  margin-left: $xs;
}

.u-mr-xs {
  margin-right: $xs;
}

.u-mr-sm {
  margin-right: $sm;
}


.u-ml-sm {
  margin-left: $sm;
}

.u-mb-sm {
  margin-bottom: $sm;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-md {
  margin-bottom: $md;
}

.u-mb-lg {
  margin-bottom: $lg;
}

.u-mb-xl {
  margin-bottom: $lg;
}

.u-w-132 {
  width: 132px;
}


.u-w-150 {
  width: 150px;
}

.u-w-152 {
  width: 152px;
}

.u-w-210 {
  width: 210px;
}
