<section class="l-grid">
  <div class="l-grid__header">
    <h2 class="o-title ">Range usage</h2>
    <div class="h-spacer"></div>

    <label for="inputStartDate">Start</label>
    <input class="u-ml-sm" id="inputStartDate" type="month" name="inputStartDate" [formControl]="inputStartDate" (change)="changeStartDate()" max="{{ endDate | date:'YYYY-MM'}}">

    <label for="inputEndDate">End</label>
    <input class="u-ml-sm" id="inputEndDate" type="month" name="inputEndDate" [formControl]="inputEndDate" (change)="changeEndDate()" min="{{ startDate | date:'YYYY-MM'}}" max="{{ today | date:'YYYY-MM'}}">
  </div>

  <app-card class="l-grid__intake" [cardData]="intakeData"></app-card>
  <app-card class="l-grid__generate" [cardData]="generateData"></app-card>
  <app-card class="l-grid__total" [cardData]="totalData"></app-card>
  <app-graph class="l-grid__graph" [graphData]="graphData"></app-graph>
</section>
