@use '../../scss/core/variables' as *;
@use '../../scss/core/mixins' as *;

.l-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    'title'
    'intake'
    'generate'
    'month'
    'graph';
  grid-gap: 32px;

  @include breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'title    title     title'
    'intake   generate  month'
    'graph    graph     graph';
  }
}

.l-title {
  grid-area: title;
}

.l-card {
  &--yesterday-intake {
    grid-area: intake;
  }

  &--yesterday-gen {
    grid-area: generate;
  }

  &--month-sum {
    grid-area: month;
  }

  &--month-graph {
    grid-area: graph;
  }
}
